stockclient/StockManagementService.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://stocks.interoperability.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="StockManagementService" targetNamespace="http://stocks.interoperability.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://stocks.interoperability.com/" elementFormDefault="unqualified" targetNamespace="http://stocks.interoperability.com/" version="1.0">

  <xs:element name="findAllStocks" type="tns:findAllStocks"></xs:element>

  <xs:element name="findAllStocksResponse" type="tns:findAllStocksResponse"></xs:element>

  <xs:element name="getStock" type="tns:getStock"></xs:element>

  <xs:element name="getStockResponse" type="tns:getStockResponse"></xs:element>

  <xs:complexType name="findAllStocks">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAllStocksResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:stock"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="stock">
    <xs:sequence>
      <xs:element name="id" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="symbol" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="security" type="xs:string"></xs:element>
      <xs:element name="previousClosePrice" type="xs:float"></xs:element>
      <xs:element name="openPrice" type="xs:float"></xs:element>
      <xs:element name="highPrice" type="xs:float"></xs:element>
      <xs:element name="closePrice" type="xs:float"></xs:element>
      <xs:element name="netTradeVaule" type="xs:double"></xs:element>
      <xs:element name="netTradeQuantity" type="xs:long"></xs:element>
      <xs:element name="high52Week" type="xs:float"></xs:element>
      <xs:element name="low52Week" type="xs:float"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getStock">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getStockResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:stock"></xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="findAllStocksResponse">
    <wsdl:part element="tns:findAllStocksResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStockResponse">
    <wsdl:part element="tns:getStockResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllStocks">
    <wsdl:part element="tns:findAllStocks" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStock">
    <wsdl:part element="tns:getStock" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="StockManagement">
    <wsdl:operation name="findAllStocks">
      <wsdl:input message="tns:findAllStocks" name="findAllStocks">
    </wsdl:input>
      <wsdl:output message="tns:findAllStocksResponse" name="findAllStocksResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStock">
      <wsdl:input message="tns:getStock" name="getStock">
    </wsdl:input>
      <wsdl:output message="tns:getStockResponse" name="getStockResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockManagementServiceSoapBinding" type="tns:StockManagement">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="findAllStocks">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="findAllStocks">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="findAllStocksResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStock">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getStock">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getStockResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockManagementService">
    <wsdl:port binding="tns:StockManagementServiceSoapBinding" name="StockManagementPort">
      <soap:address location="http://localhost:8080/InteroperabilityProject/StockManagement"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>